<!DOCTYPE html>
<html lang="en">
<head>
    <style>
        textarea {
            resize: none;
        }
        body{
            background-image: url('../static/pics/back.jpg')
        }
        .input{
            position: fixed;
        }
    </style>
    <meta charset="UTF-8">
    <title>ChatBot</title>
</head>
<body>
<form method="POST">
    <input name="text" size="100" class="input">
    <input type="submit" class="input" style="top:1;left:53.3333333em">
    <br>
    <pre style="margin: 0px">
    {{ text }}
    </pre>
</form>
</body>
</html>
